<div class="toolbar fixed-top">
    <div class="fill left-nav">
        <input type="image" src="../../assets/S-black.png" name="Logo" id="logo-button" routerLink="/" />
    </div>
    <div class="search-bar-container fill">
        <app-search-bar></app-search-bar>
    </div>
    <div class="fill right-nav">
        <button class="p-button-outlined mr-3" pButton pRipple type="button" label="Sign Up" routerLink="/signup" (click)="toggleNavBar()"></button>
        <button pButton pRipple type="button" label="Login"></button>
    </div>
</div>
