<div class="toolbar fixed-top">
    <div class="fill left-nav">
        <button pButton pRipple type="button" class="p-button-text" routerLink="/" label="ToDO List"></button>
        <button pButton pRipple type="button" class="p-button-text" routerLink="/lists" label="Lists"></button>
    </div>
    <div class="search-bar-container fill">
        <app-search-bar></app-search-bar>
    </div>
    <div class="fill right-nav">
        <button class="p-button-outlined mr-3" pButton pRipple type="button" label="Sign Up"></button>
        <button pButton pRipple type="button" label="Login"></button>
    </div>
</div>
