.full-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.bg-image {
  /* The image used */
  background-image: url("../../assets/signup-background.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.signup {
  width: 400px;
  max-width: 90vw;
}
