<header class="header-6">
  <div class="branding">
    <a href="/" class="nav-link">
      <clr-icon shape="checkbox-list"></clr-icon>
      <span class="title">HoneyDO</span>
    </a>
  </div>
  <div class="header-nav">
      <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
      <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
  </div>
  <div class="header-actions">
    <a href="javascript://" class="nav-link nav-icon" aria-label="profile">
      <clr-icon shape="user" class="is-solid"></clr-icon>
    </a>
    <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>
</header>
