.search-bar {
  border-radius: 2em;
  border: 1px solid #ced4da;
}

.search-bar:focus-within {
  box-shadow: 0 0 3pt 1pt #52b4ff;
}

.search-bar:hover {
  border-color: #2196f3;
}

.search-icon {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  background-color: white;
  border: none;
}

.search-text-field {
  width: 400px;
  border-left: 0;
  border-top-right-radius: 2em !important;
  border-bottom-right-radius: 2em !important;
}

.search-text-field:focus {
  outline: none;
}

.p-inputtext {
  border: none;
}

.p-inputtext:hover {
  border: none;
}

.p-inputtext:focus {
  box-shadow: none;
  border: none;
}
